body {
	margin: 5;
	padding: 0;
	font-family: Arial, sans-serif;

}

header {
	background-color: #333;width: 100px; height: 30px;
	color: #fff;
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

nav ul li {
	display:inline-block;
	margin: 0px 80px;
	
}
nav ul li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	box-shadow: #333;
	
}

nav ul li a:hover {
	background-color: #666;
}

section {
	margin-top: 80px;
	padding: 50px;
}
section h1, section h2 {
	margin-top: 0;
	text-align: center;
}

section#accueil {
	background-color: #aaa;
	text-align: center;
    width: 95%;
    height: 50%;
	
}
section#produits{    
background-color: #aaa;
display: inline-flex;
width: 95%;
height: 50%;
inset: inline 20px;
}
section#partenaires {
	background-color: #aaa;
	display: inline-flex;
	width: 95%;
	height: 50%;
	inset: inline 20px;

    
}
section#contact{
	background-color: #aaa;
	display: flex;
	justify-content: space-around;
	width: 95%;
	height: 50%;
	inset: inline 20px;
}

form {
	background-color: #f2f2f2;
	padding: 30px;
	border-radius: 10px;
  }
  
  label {
	display: block;
	font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
	padding: 10px;
	border: none;
	border-radius: 6px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
  }
  
  input[type="submit"] {
	background-color: #2e722e;
	color: white;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #42ae48;
  }
footer{
	text-align: center;
}
section#réseauxsociaux,h2{
	text-align: left;
	display: inline-flex;
	inset: inline 20px;
}

	
	


